#Turn on Apache rewrite engine
RewriteEngine on

#Inherit parent directory's rules
RewriteOptions inherit

#Enable symbolic link
Options +FollowSymLinks

#Set default character set
AddDefaultCharset utf-8

#Preserve bandwidth for PHP enabled servers
<ifmodule mod_php4.c>
	php_value zlib.output_compression 16386
</ifmodule>

#Process the following file extensions as PHP
AddType application/x-httpd-php .php .php4 .php3 .phtml .html .htm .shtml .inc .asp .aspx

#Alternate default index pages
DirectoryIndex index.php index.html index.htm index.shtml

#Enable gzip compression
<IfModule mod_gzip.c>
	mod_gzip_on Yes
	mod_gzip_dechunk Yes
	mod_gzip_item_include file \.(html?|txt|css|js|php)$
	mod_gzip_item_include mime ^application/x-javascript.*
	mod_gzip_item_exclude mime ^asset/.*
	mod_gzip_item_exclude rspheader ^Content-Encoding:.*gzip.*
</IfModule>

#Set environment root path
# SetEnv ROOT_PATH /zern/

#Define base directory path (*only when base is different from current directory)
# RewriteBase /zern/

#Disable index (directory) listing [*possible GOTCHA when using 'Options All -Indexes']
Options -Indexes

#Prevent possible infinite loop
RewriteCond %{DOCUMENT_ROOT}%{REQUEST_FILENAME} !-f
RewriteCond %{DOCUMENT_ROOT}%{REQUEST_FILENAME} !-d

#Prevent routing/rewriting for request on PHP & HTML files (that exist)
RewriteCond %{REQUEST_URI} !.*\.php [NC]
RewriteCond %{REQUEST_URI} !.*\.html [NC]

#Basic clean up for URL on existing directory
RewriteRule ^owww$ owww/ [NC,QSA,END]
RewriteRule ^project$ project/ [NC,QSA,END]
RewriteRule ^zern$ zern/ [NC,QSA,END]

#Basic clean up for URL on defined routes
RewriteRule ^app$ app/ [NC,QSA,END]
RewriteRule ^api$ api/ [NC,QSA,END]

#Route (API) 'api/VAR' request to index.php?route=api&uri=VAR
RewriteRule ^api\/(.*)$ index.php?route=api&uri=$1 [NC,QSA,END]
#Route api.domain.com/VAR to /index.php?route=api&uri=VAR;
RewriteCond %{HTTP_HOST} ^(api\.)(.+)$
RewriteRule ^(.*)$ index.php?route=api&uri=$1 [NC,QSA,END]

#Define rewrite request for CLOUD|ASSET|DATA|HTTP
RewriteRule ^cloud\/(.*)$ project/drive/$1 [NC,QSA,END]

RewriteRule ^jsv\/(.*)$ project/suite/routzr/jsv.php [NC,QSA,END]
RewriteRule ^ajax\/(.*)$ project/suite/routzr/ajax.php [NC,QSA,END]
RewriteRule ^modal\/(.*)$ project/suite/utilizr/modal.php [NC,QSA,END]

RewriteRule ^asset\/(.*)$ project/interface/source/$1 [NC,QSA,END]
RewriteRule ^css\/(.*)$ project/interface/source/css/$1 [NC,QSA,END]
RewriteRule ^icon\/(.*)$ project/interface/source/icon/$1 [NC,QSA,END]
RewriteRule ^js\/(.*)$ project/interface/source/js/$1 [NC,QSA,END]
RewriteRule ^media\/(.*)$ project/interface/source/media/$1 [NC,QSA,END]
RewriteRule ^plugin\/(.*)$ project/interface/source/plugin/$1 [NC,QSA,END]
RewriteRule ^audio\/(.*)$ project/interface/source/media/audio/$1 [NC,QSA,END]
RewriteRule ^document\/(.*)$ project/interface/source/media/document/$1 [NC,QSA,END]
RewriteRule ^grafix\/(.*)$ project/interface/source/media/grafix/$1 [NC,QSA,END]
RewriteRule ^image\/(.*)$ project/interface/source/media/grafix/$1 [NC,QSA,END]
RewriteRule ^video\/(.*)$ project/interface/source/media/video/$1 [NC,QSA,END]
RewriteRule ^font\/(.*)$ project/interface/source/plugin/$1 [NC,QSA,END]

RewriteRule ^data\/(.*)$ index.php?route=data&json=$1 [NC,QSA,END]

RewriteRule ^400\/(.*)$ index.php?route=http&e=400&uri=$1 [NC,QSA,END]
RewriteRule ^404\/(.*)$ index.php?route=http&e=404&uri=$1 [NC,QSA,END]
RewriteRule ^403\/(.*)$ index.php?route=http&e=403&uri=$1 [NC,QSA,END]

RewriteRule ^owww\/(.*)$ _o/www/$1 [NC,QSA,END]
RewriteRule ^oignor\/(.*)$ _o/ignor/$1 [NC,QSA,END]

#Route (APP) 'app/VAR' request to index.php?route=app&uri=VAR
RewriteRule ^app\/(.*)$ index.php?route=app&uri=$1 [NC,QSA,END]
#Route app.domain.com/VAR to /index.php?route=app&uri=VAR;
RewriteCond %{HTTP_HOST} ^(app\.)(.+)$
RewriteRule ^(.*)$ index.php?route=app&uri=$1 [NC,QSA,END]

#Route (REDIRECT) 'redirect/VAR' request to index.php?route=redirect&uri=VAR
# RewriteRule ^redirect\/(.*)$ index.php?route=redirect&uri=$1 [NC,QSA,END]
#Route redirect.domain.com/VAR to /index.php?route=redirect&uri=VAR;
# RewriteCond %{HTTP_HOST} ^(redirect\.)(.+)$
# RewriteRule ^(.*)$ index.php?route=redirect&uri=$1 [NC,QSA,END]

#Route (GO) 'go/VAR' request to index.php?route=go&uri=VAR
# RewriteRule ^go\/(.*)$ index.php?route=go&uri=$1 [NC,QSA,END]
#Route go.domain.com/VAR to /index.php?route=go&uri=VAR;
# RewriteCond %{HTTP_HOST} ^(go\.)(.+)$
# RewriteRule ^(.*)$ index.php?route=go&uri=$1 [NC,QSA,END]

#Rewrite sub.domain.com/VAR to /index.php?route=sub&uri=VAR;
#RewriteCond %{HTTP_HOST} ^(.+)\.dot\.ca$
RewriteCond %{HTTP_HOST} ^(.+?)(\.(.+)\.(.+))$
RewriteRule ^(.*)$ index.php?route=%1&uri=$1 [NC,QSA,END]

#Rewrite every other request (but some) to index.php?route=request
RewriteRule ^((?!favicon\.ico$)(?!favicon\.png$)(?!veri8\/.*$)(?!project\/.*$)(?!zern\/.*$)(?!cloud\/.*$)(?!jsv\/.*$)(?!ajax\/.*$)(?!modal\/.*$)(?!asset\/.*$)(?!icon\/.*$)(?!css\/.*$)(?!js\/.*$)(?!js\/.*$)(?!media\/.*$)(?!plugin\/.*$)(?!document\/.*$)(?!grafix\/.*$)(?!image\/.*$)(?!video\/.*$)(?!font\/.*$)(?!data\/.*$)(?!400\/.*$)(?!404\/.*$)(?!403\/.*$)(?!owww\/.*$)(?!oignor\/.*$).*)$ index.php?uri=$1 [NC,QSA,END]

#Define error documents
ErrorDocument 400 /index.php?route=http&e=400
ErrorDocument 404 /index.php?route=http&e=404
ErrorDocument 403 /index.php?route=http&e=403